.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('./../../assets/bg.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;

    .form-content {
        width: 100%;

        .title {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        .login-form {
            width: 300px;
            margin: 0 auto;
        }
    }
}